apiVersion: v1
kind: Service
metadata:
  name: munchcoach-v2-service
  namespace: munchcoach
spec:
  type: ClusterIP
  ports:
    - port: 3000
      protocol: TCP
      targetPort: 3000
  selector:
    app: munchcoach-app-v2
